.header {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 33px;
}

.header__title {
    font-size: 37px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 46.99px;
    text-transform: uppercase;
    
}