.mood {
    width: 713px;
    border-radius: 20px;
    padding: 63px;
    background-color: #7AFFA7;
    margin-bottom: 40px;
}
.mood-bad {
    width: 713px;
    border-radius: 20px;
    padding: 63px;
    background-color: #7AFFA7;
    margin-bottom: 40px;
    background-color: #FF8A7A;
    border-radius: 20px;
}
.mood__title {
font-size: 89px;
font-weight: 500;
line-height: 100%;
letter-spacing: -5.34px;
margin-bottom: 176px;
}
.mood__subtitle {
font-size: 34px;
line-height: 100%; 
}